* {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

header, 
footer {
    background-color: #1F2937;
    font-weight: bold; 
}

.logo {
    font-size: 24px; 
    color: #f9faf8; 
}
 
a {
    text-decoration: none;
    color: #e5e7eb; 
}

li, 
.hero-secondary {
    font-size: 18px; 
    color: #e5e7eb; 
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px; 
    font-weight: extra-bold; 
    color: #f9faf8;
}

.button {
    background-color: #3882f6; 
}

h2 {
    font-size: 36px; 
    font-weight: extra-bold;
    color: #1F2937;
}

.information img {
    border: 5px solid #3882f6; 
}

.information p {
    font-size: 16px;
    font-weight: lighter; 
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
}

h3 {
    font-size: 36px; 
    font-weight: lighter; 
    font-style: italic; 
    color: #1F2937;
}

.quote p {
    font-weight: bold; 
    font-style: none; 
}

.action {
    color: #f9faf8; 
    background-color: #3882f6;
} 

.action p {
    color: #e5e7eb;
}

.call {
    border: 5px solid #f9faf8;
}

footer {
    color: #e5e7eb;
}