* {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 22px;
    padding-bottom: 120px; 
}

.logo {
    font-size: 24px; 
    font-weight: bold; 
    color: #f9faf8; 
}
 
a {
    text-decoration: none;
    color: #e5e7eb; 
}

header li, 
.hero-secondary {
    font-size: 18px; 
    font-weight: lighter; 
    color: #e5e7eb; 
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 22px; 
}

.hero {
    background-color: #1F2937;
    display: flex; 
    justify-content: center;  
    padding-bottom: 120px;
    gap: 64px; 
}

.hero-left {
    display: flex; 
    flex-direction: column; 
    width: 450px; 
}

.hero-main {
    font-size: 48px; 
    font-weight: extra-bold; 
    color: #f9faf8;
}

.button {
    background-color: #3882f6; 
    width: 75px; 
    padding: 6px 22px; 
    margin-top: 8px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-radius: 6px; 
}

h2 {
    font-size: 36px; 
    font-weight: extra-bold;
    color: #1F2937;
}

.information img {
    border: 5px solid #3882f6; 
    border-radius: 10px; 
}

.information p {
    font-size: 14px;
    font-weight: lighter; 
    color: #1F2937;
}

h2 {
    text-align: center;
    padding: 25px 0px; 
}

.boxes {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    gap: 32px; 
}

.information p {
    width: 125px; 
    
}

.quote {
    background-color: #e5e7eb;
}

h3 {
    font-size: 36px; 
    font-weight: lighter; 
    font-style: italic; 
    color: #1F2937;
}

.quote p {
    font-weight: bold; 
    font-style: none; 
}

.action {
    color: #f9faf8; 
    background-color: #3882f6;
} 

.action p {
    color: #e5e7eb;
}

.call {
    border: 5px solid #f9faf8;
}

footer {
    color: #e5e7eb;
    background-color: #1F2937; 
}